.container {
    max-width: 960px;
    color: white;
  }
  
  .lh-condensed { line-height: 1.25; }

  .bg-light{
      background-color: rgb(158, 158, 158) !important;
      background-color: rgb(49, 49, 49) !important;

  }

  .storyholder{
      padding-top: 1em;
      border: #f7568c;
      border-style: solid;
      color: white;
  }

  .btn-primary {
    color: #fff;
    background-color: #f7568c;
    border-color:  #f7568c;
}
h2{
    color: #f7568c;
}

.checkout-btn{
margin-bottom: 2em;
}

.storyholder h2{
    text-align: center;

}
a{
    color: white;
}

/* .btn-block{
    width: 80%;
} */

.giant-type{
    font-size: 5em;
}