.container {
    max-width: 960px;
    color: white;
  }
  
  .lh-condensed { line-height: 1.25; }

  .bg-light{
      background-color: rgb(158, 158, 158) !important;
      background-color: rgb(49, 49, 49) !important;

  }

  .storyholder{
      /* padding-top: 1em; */
      padding:1em;
      padding-bottom: 2em;
      border: #f7568c;
      border-style: solid;
      color: white;
      float: right;
      /* margin-top: 4em; */
  }

  .storyholder p{
      /* margin: .9em;
      padding: 1em; */
  }

  .btn-primary {
    color: #fff;
    background-color: #f7568c;
    border-color:  #f7568c;
}
h2{
    color: #f7568c;
}

.checkout-btn{
margin-bottom: 2em;
}

.storyholder h2{
    text-align: center;
}
a{
    color: white;
}

/* .btn-block{
    width: 80%;
} */
 
.giant-type{
    font-size: 5em;
}
a{
    color: #fff;
}
a.active{
    color: azure !important;
}

.linker a:hover {
    color: white;
   
}

.linker p {
    /* border-style: solid; */
    color:#f7568c;
    font-size: .8em;
}

.halfsize{
    float:left;
}

.halfsize-2{
    /* margin-right: 0em !important; */
    float: right;
}

.checkout{
    text-align: center;
}

.checkout-btn{

}

.footer-space{
/* background-color: white; */
float: right;
}

.continue-btn{
    text-align: center;
}